body {
    margin: 0;
    padding: 40px;
}
.visualization {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.plot {
    display: flex;
}
.legend {
    display: flex;
}
.legend>.values {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.legend>.values>div {
    text-align: right;
}
.legend>.gradient {
    width: 40px;
    background-image: linear-gradient(0deg, rgb(64, 64, 255), rgb(255, 192, 64));
}
#gainTooltip {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    pointer-events: none;
    display: none;
}